.topnav {
    background-color: #333;
    width: 100%;
    padding-left: 0;
    text-align: center;
}

.topnav a {
    color: #e4dada;
    padding: 8px;
    /*box size*/
    text-decoration: none;
    /*remove line*/
    font-size: 24px;

}

.topnav a:hover {
    background-color: grey;
    color: black;
    font-size: 25px;
}

.topnav a.active {
    background-color: #00d9ff;
}

body {
    font-family: Verdana, sans-serif;
    text-align: left;
    background-color: #f8f9fa;

}

.content {
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    max-width: 1080px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

h2 {
    text-align: left;

    color: #333;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

ul {
    list-style-type: disc;
    text-align: justify;

}
